.vscode-extensions
.direnv
*.*~
.Rhistory
result
result-man
*.swp
*.qcow2
eoi.zip
.vscodgit
dotfiles/obs-studio/updates/whatsnew.json
dotfiles/obs-studio/plugin_config/
dotfiles/obs-studio/profiler_data
dotfiles/obs-studio/logs
.vscode
secrets
history.mp4
output.ppm
core
resources/kartoza-logo.txt
WHITEPAPER-SLIDES.css
WHITEPAPER-SLIDES.md
build/WHITEPAPER-SLIDES.pdf
home/home-config/desktop/xdg/default.nix
modules/gnome-desktop-extensions.nix
packages/utils/utils.sh
