.vscode-extensions
.direnv
*.*~
.Rhistory
result
result-man
*.swp
*.qcow2
eoi.zip
.vscodgit 
dotfiles/obs-studio/updates/whatsnew.json
dotfiles/obs-studio/plugin_config/
dotfiles/obs-studio/profiler_data
dotfiles/obs-studio/logs
.vscode
